body{
    background-color: #f3f3f3;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
	font-weight: 500;
    width: 80%;
    margin: 0 auto;
    color: #4B4F51;
}
#covid-1{
    color: #fb4c47;
    font-size: 20px;
    font-weight: 700;
}
#covid-2{
    color: #035755;
    font-size: 27px;
    font-weight: 700;
    margin-top: -12px;
}
#covid-3{
    color: #035755;
    font-size: 36px;
    font-weight: 700;
    margin-top: -12px;
}
#text2{
    margin-top: -5px;
}
.article{
    padding-top: 20px;
    text-align: center;
}
#navbar, a{
    display: grid;
    grid-template-columns: 6fr 0.5fr 0.5fr 0.5fr 0.2fr;
    grid-template-rows: 1;
    color: #035755;
    text-decoration: none;
    margin: 15px;
}
a:hover{
    color: #fb4c47;
}
.stay{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
}
.corona{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
}
#text{
    width:40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#button{
    color:white;
	background-color:#fb4c47;
	border: none;
	border-radius:20px;
	width: 200px;
	height: 50px;
	transition: 1s;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-top: 10px;
}
#button:hover{
    filter: brightness(0.8);
}
#img1{
    width: 500px;
    float: right;
}
#img2{
    width: 500px;
    float: left;
}
#img3{
    width: 800px;
    align-items: center;
}
#itemFoto{
    width: 100px;
}
.flexContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.item{
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    background-color: white;
    width: 250px;
    padding: 10px;
    border-bottom:5px solid #fb4c47;
}
@media only screen and (max-width: 1024px) {
    }

    @media only screen and (max-width: 780px) {

    }
        @media only screen and (max-width: 480px) {
          

            }
        }